{% extends 'base.html.twig' %}

{% block title %}Ajout d'un article{% endblock %}

{% block header %}Ajout d'un article{% endblock %}

{% block body %}

<div id="add_article_form" class="row my-5 mx-auto">

  {{ form_start( addarticle_form ) }}

  {{ form_errors( addarticle_form ) }}

  {{ form_row( addarticle_form.title ) }}

  {{ form_row( addarticle_form.author ) }}

  {{ form_row( addarticle_form.edition ) }}

  {{ form_row( addarticle_form.genre ) }}

  {{ form_row( addarticle_form.other ) }}

  {{ form_row( addarticle_form.price ) }}

  <p class="text-danger text-center">Vous pouvez écrire "Non renseigné" exactement de la même manière que sur cet exemple ou laisser le champ vide.</p>

  {{ form_row( addarticle_form.photo ) }}

  {{ form_row( addarticle_form.save ) }}

  {{ form_end( addarticle_form ) }}

</div>

{% endblock %}