{% extends 'base.html.twig' %}

{% block title %}Réservations
{% endblock %}

{% block header %}Réservations
{% endblock %}

{% block body %}

	<div id="global-view" class="row p-3">

		{% for reservation in reservations %}

			<div class="d-flex justify-content-center my-5" id="btn-row">
				<a id="cancel-reserve" class="text-danger p-2 w-25 mx-auto" href="{{ path('decline_all_reservation', {'id': reservation.id }) }}"><i class="fa-solid fa-xmark me-2"></i>Tout décliner</a>
				<a id="confirm-reserve" class="text-success p-2 w-25 mx-auto" href="{{ path('confirm_all_reservation', {'id': reservation.id }) }}"><i class="fa-solid fa-circle-check me-2"></i>Tout confirmer</a>
			</div>

			<div id="view-list" class="my-5 row mx-auto">

				{% if reservation.article.photo == '' %}

					<p class="text-light article-no-title text-center">
						<span class="fw-bold">Titre</span>
					</p>
					<p class="text-light article-size text-center">{{ reservation.article.title }}</p>
					<hr class="text-light mx-auto w-25">
					<p class="text-light article-size text-center">
						{% if reservation.article.author == null %}
							<p class="text-warning article-size d-flex justify-content-center text-center">Auteur non précisé</p>
						{% else %}
							<p class="text-light article-no-title text-center">
								<span class="fw-bold">Auteur</span>
							</p>
							<p class="text-light article-size text-center">{{ reservation.article.author }}</p>
						{% endif %}
						<hr class="text-light mx-auto w-25">
					</p>
					<p class="text-light article-no-title text-center">
						<span class="fw-bold">Édition</span>
					</p>
					<p class="text-light article-size text-center">{{ reservation.article.edition }}</p>
					<hr class="text-light mx-auto w-25">
					<p class="text-light article-no-title text-center">
						<span class="fw-bold">Prix</span>
					</p>
					<p class="text-light article-size text-center">
						{% if reservation.article.price == 'offert' %}Offert
							{% elseif reservation.article.price == 'Non renseigné' %}Non renseigné
						{% else %}
							{{ reservation.article.price }}€
						{% endif %}
					</p>

					<p class="text-warning article-no-photo d-flex justify-content-center text-center">Pas d'image fournie</p>

					<div id="view-photo" class="d-none image">
						<img class="img-fluid" src="{{ asset('Images/Article/' ~ reservation.article.photo) }}" alt="">
					</div>

					<div class="d-flex justify-content-center my-5" id="btn-row">

						<a id="cancel-reserve" class="text-danger p-2 mx-auto" href="{{ path('decline_reservation', {'id': reservation.id, csrf_token: csrf_token('decline_reserve_' ~ reservation.id ) }) }}">
							<i class="fa-solid fa-xmark"></i>
							Décliner</a>

						<a id="confirm-reserve" class="text-success p-2 mx-auto" href="{{ path('confirm_reservation', {'id': reservation.id, csrf_token: csrf_token('confirm_reserve_' ~ reservation.id ) }) }}">
							<i class="fa-solid fa-circle-check"></i>
							Confirmer</a>

					</div>

					{% if reservation.article.other == 'Poche' %}
						<p class="if-result text-light">P</p>
					{% elseif reservation.article.other == 'ANCIEN' %}
						<p class="if-result text-light">A</p>
					{% elseif reservation.article.other == 'dédicacé' %}
						<p class="if-result text-light">D</p>
					{% endif %}

				{% else %}

					<p class="text-light article-no-title text-center">
						<span class="fw-bold mx-2">Titre
						</span>
						-
						{{ reservation.article.title }}</p>

					<p class="text-light article-no-author text-center">
						{% if reservation.article.author == null %}
							<p class="text-warning article-no-photo d-flex justify-content-center text-center">Auteur non précisé</p>
						{% else %}
							<span class="fw-bold mx-2">Auteur
							</span>
							-
							{{ reservation.article.author }}</p>
					{% endif %}

					<p class="text-light article-no-edition text-center">
						<span class="fw-bold mx-2">Édition
						</span>
						-
						{{ reservation.article.edition }}</p>

					<p class="text-light article-no-price text-center">
						<span class="fw-bold mx-2">Prix
						</span>
						-
						{% if reservation.article.price == 'offert' %}Offert
							{% elseif reservation.article.price == 'Non renseigné' %}Non renseigné
						{% else %}
							{{ reservation.article.price }}€
						{% endif %}
					</p>

					<div class="d-flex justify-content-center my-5" id="btn-row">

						<a id="cancel-reserve" class="text-danger p-2 mx-auto" href="{{ path('decline_reservation', {'id': reservation.id, csrf_token: csrf_token('decline_reserve_' ~ reservation.id ) }) }}">
							<i class="fa-solid fa-xmark"></i>
							Décliner</a>

						<a id="confirm-reserve" class="text-success p-2 mx-auto" href="{{ path('confirm_reservation', {'id': reservation.id, csrf_token: csrf_token('confirm_reserve_' ~ reservation.id ) }) }}">
							<i class="fa-solid fa-circle-check"></i>
							Confirmer</a>

					</div>

					{% if reservation.article.other == 'Poche' %}
						<p class="if-result text-light">P</p>
					{% elseif reservation.article.other == 'ANCIEN' %}
						<p class="if-result text-light">A</p>
					{% elseif reservation.article.other == 'dédicacé' %}
						<p class="if-result text-light">D</p>
					{% endif %}

				{% endif %}

			</div>

			<div id="view-list" class="row mx-auto">
				<p class="text-light article-no-author text-center">
					<span class="fw-bold mx-2">E-mail -</span>
					{{ reservation.user.email }}</p>
				<p class="text-light article-no-author text-center">
					<span class="fw-bold mx-2">Prénom -</span>
					{{ reservation.user.firstname }}</p>
				<p class="text-light article-no-author text-center">
					<span class="fw-bold mx-2">Nom -</span>
					{{ reservation.user.lastname }}</p>
				<a id="contact_user" class="mx-auto" href="{{ path('contact_user', {'id': reservation.user.id, csrf_token: csrf_token('contact_user_' ~ reservation.user.id ) }) }}">
					<i class="fa-solid fa-envelope"></i>
					Contacter</a>
			</div>

			{% if reservation.article.photo == '' %}

				<div id="view-photo" class="d-none image">
					<img class="img-fluid" src="{{ asset('Images/Article/' ~ reservation.article.photo) }}" alt="">
				</div>

			{% else %}

				<div id="view-photo" class="image">
					<img class="img-fluid" src="{{ asset('Images/Article/' ~ reservation.article.photo) }}" alt="">
				</div>

			{% endif %}

		{% else %}

			<p class="no-article my-5 col-12 text-center text-light bg-none">Aucune réservations en cours.</p>

		{% endfor %}

		{% for confirmReservation in confirmReservations %}

			<div id="view-list" class="my-5 row mx-auto">

				{% if confirmReservation.reservation.article.photo == '' %}

					<p class="text-light article-no-title text-center">
						<span class="fw-bold">Titre</span>
					</p>
					<p class="text-light article-size text-center">{{ confirmReservation.reservation.article.title }}</p>
					<hr class="text-light mx-auto w-25">
					<p class="text-light article-size text-center">
						{% if confirmReservation.reservation.article.author == null %}
							<p class="text-warning article-size d-flex justify-content-center text-center">Auteur non précisé</p>
						{% else %}
							<p class="text-light article-no-title text-center">
								<span class="fw-bold">Auteur</span>
							</p>
							<p class="text-light article-size text-center">{{ confirmReservation.reservation.article.author }}</p>
						{% endif %}
						<hr class="text-light mx-auto w-25">
					</p>
					<p class="text-light article-no-title text-center">
						<span class="fw-bold">Édition</span>
					</p>
					<p class="text-light article-size text-center">{{ confirmReservation.reservation.article.edition }}</p>
					<hr class="text-light mx-auto w-25">
					<p class="text-light article-no-title text-center">
						<span class="fw-bold">Prix</span>
					</p>
					<p class="text-light article-size text-center">
						{% if confirmReservation.reservation.article.price == 'offert' %}Offert
							{% elseif confirmReservation.reservation.article.price == 'Non renseigné' %}Non renseigné
						{% else %}
							{{ confirmReservation.reservation.article.price }}€
						{% endif %}
					</p>

					<p class="text-warning article-no-photo d-flex justify-content-center text-center">Pas d'image fournie</p>

					<div id="view-photo" class="d-none image">
						<img class="img-fluid" src="{{ asset('Images/Article/' ~ confirmReservation.reservation.article.photo) }}" alt="">
					</div>

					<div class="d-flex justify-content-center my-5" id="btn-row">

						<a id="finish-reserve" class="text-warning p-2 mx-auto" href="{{ path('finish_reservation', {'id': confirmReservation.reservation.id, csrf_token: csrf_token('finish_reserve_' ~ confirmReservation.reservation.id ) }) }}">
							<i class="fa-solid fa-square-check"></i>
							Terminer</a>

					</div>

					{% if confirmReservation.reservation.article.other == 'Poche' %}
						<p class="if-result text-light">P</p>
					{% elseif confirmReservation.reservation.article.other == 'ANCIEN' %}
						<p class="if-result text-light">A</p>
					{% elseif confirmReservation.reservation.article.other == 'dédicacé' %}
						<p class="if-result text-light">D</p>
					{% endif %}

				{% else %}

					<p class="text-light article-no-title text-center">
						<span class="fw-bold mx-2">Titre
						</span>
						-
						{{ confirmReservation.reservation.article.title }}</p>

					<p class="text-light article-no-author text-center">
						{% if confirmReservation.reservation.article.author == null %}
							<p class="text-warning article-no-photo d-flex justify-content-center text-center">Auteur non précisé</p>
						{% else %}
							<span class="fw-bold mx-2">Auteur
							</span>
							-
							{{ confirmReservation.reservation.article.author }}</p>
					{% endif %}

					<p class="text-light article-no-edition text-center">
						<span class="fw-bold mx-2">Édition
						</span>
						-
						{{ confirmReservation.reservation.article.edition }}</p>

					<p class="text-light article-no-price text-center">
						<span class="fw-bold mx-2">Prix
						</span>
						-
						{% if confirmReservation.reservation.article.price == 'offert' %}Offert
							{% elseif confirmReservation.reservation.article.price == 'Non renseigné' %}Non renseigné
						{% else %}
							{{ confirmReservation.reservation.article.price }}€
						{% endif %}
					</p>

					<div class="d-flex justify-content-center my-5" id="btn-row">

						<a id="finish-reserve" class="text-warning p-2 mx-auto" href="{{ path('finish_reservation', {'id': confirmReservation.reservation.id, csrf_token: csrf_token('finish_reserve_' ~ confirmReservation.reservation.id ) }) }}">
							<i class="fa-solid fa-square-check"></i>
							Terminer</a>

					</div>

					{% if confirmReservation.reservation.article.other == 'Poche' %}
						<p class="if-result text-light">P</p>
					{% elseif confirmReservation.reservation.article.other == 'ANCIEN' %}
						<p class="if-result text-light">A</p>
					{% elseif confirmReservation.reservation.article.other == 'dédicacé' %}
						<p class="if-result text-light">D</p>
					{% endif %}

				{% endif %}

			</div>

			{% if confirmReservation.reservation.article.photo == '' %}

				<div id="view-photo" class="d-none image">
					<img class="img-fluid" src="{{ asset('Images/Article/' ~ confirmReservation.reservation.article.photo) }}" alt="">
				</div>

			{% else %}

				<div id="view-photo" class="image">
					<img class="img-fluid" src="{{ asset('Images/Article/' ~ confirmReservation.reservation.article.photo) }}" alt="">
				</div>

			{% endif %}

		{% endfor %}

	</div>

	<div class="my-5 d-flex justify-content-center">
		<a id="back" class="mx-auto" href="{{ path('home') }}">
			<i class="fa-solid fa-backward"></i>
			Retour</a>
	</div>

{% endblock %}
